html {
    background-color: #4C160B;
}

body {
    font-family: mrs-eaves-roman-petite-caps,sans-serif;
}

a {
    text-decoration: none;
    color: #DBBE9E;
}

* {box-sizing: border-box;}

.canvas-container {
margin: 3vh 34vw;
}


.wrapper {
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbar {
    background-color:#4C160B;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;

}

.toolbar a {
    text-align: center;
    transition: all 0.5s ease;
    width: 10%;
}

.toolbar a:hover {
    background-color:rgb(51, 32, 16);
}

.selected {
    background-color:rgb(51, 32, 16);
}

#my-canvas {
    background-color: seashell;
    border: 4px solid  #aa8157;
    margin-top: 1rem;
    width: 100%;
}

.download-button {
    background-color: rgba(0,0,0,0);
    border: 1.3px solid #ac8965;
    font-family: mrs-eaves-roman-petite-caps,sans-serif;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    padding: 0 1.5rem;
    width: auto;
}

.download-button a{
    color: #ac8965;
}

.toolbar a img {
    height: auto;
    max-width: 100%;
    display: inline;
}

#polygon, #open, #save, #circle {
    display: none;
}

@keyframes color {
    0%   {color: #927656;}
    50%  {color: #DBBE9E;}
    100% {color: #927656;}
}

.canvas-prompt {
    animation: color 5s infinite;
    background-color: #2F1A00;
    background-image: linear-gradient(25deg, #2F1A00, #3d2a13);
    border: 0.1rem solid #927656;
    color: #927656; 
    font-size: 1.2rem;
    padding: 0.4rem 2rem 0.6rem;
    margin-top: 8vh;
    text-align: center;
}

.canvas-instructions {
    background-color: #2F1A00;
    border: 0.1rem solid #DBBE9E;
    color: #DBBE9E; 
    font-size: 1.3rem;
    padding: 1.7rem 2rem 2rem;
    margin-top: 20vw;
    text-align: center;
    z-index: 2;
    position: absolute;
    display: none;
}

.instructions {
    background-color: #2F1A00;
    background-image: linear-gradient(-25deg, #2F1A00, #3a2710);
    border: 0.1rem solid #927656;
    color: #927656; 
    font-size: 1rem;
    padding: 0.2rem 1rem 0.35rem;
    margin-bottom: 7vh;
    user-select: none;
    -webkit-user-select: none;
}

.instructions:hover + .canvas-instructions {
    display: block;
}

/* ----------------------media queries----------------------- */
/* iPad Screen */
@media screen and (max-width: 1024px) {
    .canvas-container {
        margin: 6vh 20vw;
    }
}
/* iPhone/Mobile Screen */
@media screen and (max-width: 600px) {
    .canvas-container {
        margin: 6vh 15vw;
    }
    .download-button {
        font-size: 0.7rem;
        padding: 0 0.5rem;
        /* width: auto; */
    }
    .canvas-prompt {
        font-size: 1.2rem;
        padding: 0.8rem 2rem 1rem;
    }

    .instructions {
        display: none;
    }
}

/* -------------------NAVBAR & FOOTER------------------- */
.navbar {
    background-color: #743426;
    border: 0.15rem solid #DBBE9E;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    left: 0%;
    position: fixed;
    overflow: hidden;
    top: 0%;
    width: 100vw;
    padding: 2vh;
    margin: 0; 
} 

.header, .footer {
    color: #DBBE9E;
    display: inline;
    font-size: 2vh;
    text-align: center;
}

.footerend {
    background-color: #743426;
    border: 0.15rem solid #DBBE9E;
    border-top: 0.15rem solid #DBBE9E;
    bottom: 0%;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    left: 0%;
    overflow: hidden;
    position: fixed;
    min-width: 0;
    padding: 2vh;
    margin: 0;  
    width: 100vw;
}
