* {box-sizing: border-box;}

html {
    background-color: #4C160B;
}

body {
    font-family: mrs-eaves-roman-petite-caps,sans-serif;
}

a {
    text-decoration: none;
    color: #DBBE9E;
}

/* -------------------NAVBAR & FOOTER------------------- */

.navbar {
    background-color: #743426;
    border: 0.15rem solid #DBBE9E;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    left: 0%;
    overflow: hidden;
    padding: 2vh;
    position: fixed;
    top: 0%;
    width: 100vw;
    margin: 0; 
    z-index: 4;
} 

.header, .footer {
    color: #DBBE9E;
    display: inline;
    font-size: 2vh;
    text-align: center;
}

.home-header {
    display: flex;
    justify-content: center;
}

.footerend {
    background-color: #743426;
    border: 0.15rem solid #DBBE9E;
    border-top: 0.15rem solid #DBBE9E;
    bottom: 0%;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    left: 0%;
    margin: 0; 
    min-width: 0;
    overflow: hidden;
    padding: 2vh;
    position: fixed;
    width: 100vw;
}

/* ----------------- BACKGROUND ----------------- */

.container {
    background-color: #4C160B;
    display: grid;
    height: 87vh;
    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;
    grid-gap: 1.5rem;
    margin-top: 7vh;
}

.main-wall {
    align-items: center;
    background-color: #601D10;
    border-bottom: 1.5rem solid #3F0C02;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    height: 78vh;
    margin: auto;
    overflow: hidden;
    width: 30vh;
    z-index: 1;
}

.gallery-floor {
    background-color: #462318;
    border-top: 1.5rem solid #3F0C02;
}

/* -------------------- HOMEPAGE --------------------- */

.container-home {
    background-color: #4C160B;
    display: grid;
    height: 87vh;
    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;
    grid-gap: 1.5rem;
}

.intro-container {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}

.intro {
    /* border: 1px solid blue; */
    align-items: center;
    background-color: #601D10;
    border-bottom: 1.5rem solid #3F0C02;
    display: flex;
    flex-direction: column;
    height: 78vh;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    width: 30vh;
    z-index: 3;
}

.intro-box {
    background-color: #2F1A00;
    background-image: linear-gradient(25deg, #2F1A00, #473218);
    border: 0.1rem solid #927656;
    color: #927656; 
    margin-top: 3vh;
    max-width: 25vh;
    padding: 1.5rem 1.5rem 1.9rem;
}

.intro-box:hover {
    background-image: linear-gradient(-25deg, #2F1A00, #473218);
}

.title {
    font-size: 4rem;
    line-height: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.intro-text {
    font-size: 1.2rem;
    line-height: 1rem;
    text-align: center;
    text-transform: lowercase;
}

.enter-gallery {
    background-color: #601D10;
    border: 0.1rem solid #DBBE9E;
    color: #DBBE9E;
    margin-top: 2rem;
    padding: 0.5rem 1.5rem 0.7rem;
}

.glide-container-home {
    /* border: 10px solid blue; */
    height: 78vh;
    position: absolute;
    margin-top: 2vh;
    width: 100vw;
    z-index: 2;
}

/* ------------------- GLIDE ----------------------- */

.glide-container {
    /* border: 10px solid blue; */
    height: 78vh;
    position: absolute;
    width: 100vw;
    z-index: 2;
}

.glide__arrow {
    background-color: rgba(0,0,0,0);
    border: none;
    color: #927656;
    padding: 1rem 2rem;
    position: relative;
    z-index: 2;
}

.glide__track {
    margin-top: 20vh;
}

.glide__arrows {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 4vh 45vw 3vh;
}

.art-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.artwork {
    border: 0.5rem solid #8d683e;
    box-shadow: inset 0 0 0 0.3rem #695034;
    background-clip: content-box;
    height: 20vh;
    padding: 0.3rem;
    min-width: 20vh;
    width: auto;
}

.description {
    background-color: #2F1A00;
    border: 0.1rem solid #927656;
    color: #927656; 
    margin-top: 1rem;
    max-width: 25vh;
    padding: 0.8rem 1rem;
}

p {
    margin: 0;
    text-align: center;
}

/* -----------------------------MEDIA QUERIES------------------------------- */

/* iPad Screen */
@media screen and (max-width: 1024px) {
    .artwork {
        height: 25vh;
        max-width: 25vh;
    }
    .glide__arrows {
        font-size: 2rem;
        margin: 10.5vh 35vw 3vh;
    }

}

/* iPhone/Mobile Screen */
@media screen and (max-width: 600px) {
    .glide__arrows {
       display: none;
    }
    .intro-box {
        padding: 1rem 1rem 1.4rem
    }
    .title {
        font-size: 2.8rem;
        line-height: 1.5rem;
        padding-bottom: 1rem;;
    }
    
    .intro-text {
        font-size: 1rem;
        line-height: 0.8rem;
    }
    
    .glide-container-home {
        display: none;
    }

    .glide__track {
        margin-top: 15vh;
    }

}